{% extends '../layout/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- <title>Document</title> -->
      {%block style%}
      <link rel="stylesheet" href="{% static 'Addmission/css/contact.css' %}">
      {% endblock %}
</head>
<body>
      {% block content %}
            <h1>This is Content Page</h1>
      {% endblock %}
      
</body>
</html>