{% load static %}
<div class="card">
      <div class="card-header">
        Footer Quote
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>A well-known quote, contained in a blockquote element.</p>
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
        <p>{{date}}</p>
        <p>{{var}}</p>
      </div>
    </div>