<ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Addmission:home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Addmission:about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Addmission:contact' %}">Contact</a>
      </li>
    </ul>